{{!< default}}

<main>

    <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Association CaPASSCité</h1>
                        <p class="hero-paragraph is-revealing">Vous êtes en difficulté avec votre consommation ? Vous souhaitez en parler ? Être accompagné dans votre démarche ?</p>
                        <p class="hero-cta is-revealing"><a class="button button-secondary button-shadow" href="/premier-accueil">Je veux changer</a></p>
                        <div class="hero-media">
                        </div>
                    </div>
                </div>
            </section>

            <section class="features-extended section">
                <div class="container">
                    <div class="features-extended-inner section-inner has-top-divider">
                        <div class="features-extended-header text-center">
                            {{!-- <div class="container-sm">
                                <h2 class="section-title mt-0">Meet Evelyn</h2>
                                <p class="section-paragraph">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation</p>
                            </div> --}}
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src="{{asset "images/association.png"}}" alt="">
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">L'association</h3>
                                <p>L’association CaPASSCité place au centre de son action, l’être humain, son entourage, son désir de modifier son projet de vie pour recouvrir des droits citoyens visant son épanouissement.</p>
                                <a class="button button-primary button-shadow" href="/association">En savoir plus</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <div class="feature-extended-image is-revealing">
                                <img src="{{asset "images/help.png"}}" alt="">
                            </div>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Aide spécialisée</h3>
                                <p>Les centres de soins, d’accompagnement et de prévention en addictologie (CSAPA) de l’Association CaPASSCité proposent un accompagnement personnalisé  </p>
                                <a class="button button-primary button-shadow" href="/aidespecialisee">En savoir plus</a>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <div class="feature-extended-image is-revealing">
                                <img src="{{asset "images/formation.png"}}" alt="">
                            </div>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Formation</h3>
                                <p>Nous développons en continue de nouvelles actions de formation innovante pour répondre aux difficultés de la prise en charge des usagers auxquelles font face les professionnels de terrain.</p>
                                <a class="button button-primary button-shadow" href="/formation">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


</main>

