{{!< default}}

{{#post}}

<div class="container">
    <div class="hero-media">
        <article>
            <section >
                <div class="container">
                    <header>
                        <h1 class="mt-0">{{title}}</h1>
                    </header>
                    {{content}}
                </div>
            </section>
        </article>
    </div>
</div>

{{/post}}